apiVersion: apps/v1
kind: Deployment
metadata:
  name: ingress-proxy
  labels:
    app: ingress-proxy
  annotations:
    "sidecar.jaegertracing.io/inject": "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ingress-proxy
  template:
    metadata:
      labels:
        app: ingress-proxy
    spec:
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      nodeSelector:
        cloud.google.com/gke-nodepool: ingress-pool
      tolerations:
        - key: dedicated
          operator: Equal
          value: ingress
          effect: NoSchedule
      containers:
        - name: ingress-proxy
          image: 'gcr.io/homin-dev/ingress-proxy:latest'
          args: ["-c", "/conf/links.yaml"]
          ports:
            - name: http
              containerPort: 80
              hostPort: 80
            - name: https
              containerPort: 443
              hostPort: 443
            - name: tcp
              containerPort: 9001
              hostPort: 9001
          env:
            - name: BUCKET_NAME
              value: homin-dev_asset
            - name: TELEGRAM_APITOKEN
              valueFrom:
                secretKeyRef:
                  name: mysecret
                  key: telegram_apitoken
            - name: TELEGRAM_ROOM_ID
              valueFrom:
                secretKeyRef:
                  name: mysecret
                  key: telegram_room_id
          volumeMounts:
            - name: ingress-links
              subPath: links.yaml
              mountPath: /conf/links.yaml 
            # - name: cert-letsencrypt
            #   mountPath: /etc/letsencrypt
            - name: sa-key
              subPath: gcsbc-key.json
              mountPath: "/sa-key.json"
              readOnly: true
          securityContext:
            privileged: true
            capabilities:
              add:
                - SYS_ADMIN
          lifecycle:
            postStart:
              exec:
                command: ["/bin/sh", "-c", "gcsfuse --implicit-dirs --key-file=/sa-key.json ${BUCKET_NAME} /bucket"]
            preStop:
              exec:
                command: ["/bin/sh", "-c", "fusermount -u /bucket"]
      volumes:
        - name: ingress-links
          configMap:
            name: ingress-links
        # - name: cert-letsencrypt
        #   hostPath:
        #     path: /etc/letsencrypt
        #     type: DirectoryOrCreate
        - name: mysecret
          secret:
            secretName: mysecret
        - name: sa-key
          secret:
            secretName: sa-key
